extends ../default

block title
  title #{sitetitle} | Edit Your Account

block content

  h1 Edit Your Account
  
  if err
    p.error= error

  if userUpdated
    p.success Sweet! Your user information has been updated.

  p 
    | Your username is:  
    strong #{user.username}
    br
    |  and it cannot be changed. 
    small
      a(href="#" title="Because I said so.") Why?

  form(method="POST")
    input(type="hidden" name="username" value="#{user.username}")

    label
      | Email Address: 
      input(type="text" name="email" data-validation="required|email" data-validation-errors="You must enter a valid email address." value="#{user.email}")
      span.error

    //- label
    //-   | New Password: 
    //-   input(type="password" name="password") 
    //-   span.error

    input(type="submit" name="submit" value="Update My Info")

    //- p If you change your password you will need to re-login after your password is updated.
    p 
      | If you wish to change your password use the 
      a(href="/lost-password") lost-password page
      |  (for now).


block scripts
  script(src="/assets/js/auth.validator.js")
  script.
    auth.validator.init([
      $('input[name="email')
    ]);
    $('input[type="submit"]').click(function(e) {
      if (!auth.validator.validateForm()) e.preventDefault();
    });
    